.main-header {
  height:300px;
  background: url("../images/header.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  @include span(12);
  text-align:center;
  img {
    max-width:300px;
    height:auto;
  }
}