.main-header {
  height:300px;
  background: url("../images/header.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.logo {
  @include span(2);

  img {
    max-width:100%;
  }
}